{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>

    <ul>
        {% for producto in productos %}
            <li>
                <h2>{{ producto.title }}</h2>
                <p>Categoría: {{ producto.category }}</p>
                <p>Imagen destacada: {{ producto.featured_image }}</p>
                <p>Descripción: {{ producto.description }}</p>
                <p>Imágenes adicionales:</p>
                <ul>
                    {% for imagen in producto.additional_images %}
                        <li>{{ imagen }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
